* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Muli', sans-serif;
}
/*---- heading ----*/
header {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.801);
  color: #fff;
  z-index: 3;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

nav {
  background: rgba(12, 12, 14, 0.219);
  color: #fff;
  position: relative;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #fff;
}

nav ul li {
  display: flex;
  list-style: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  right: 17%;
  top: 40px;
  width: 10%;
}

nav ul li:hover ul {
  display: block;
  cursor: pointer;
}
nav ul li ul li {
  padding: 1rem;
  margin-top: 10px;
  background: rgba(65, 63, 63, 0.616);
}
nav ul li ul li:hover {
  background: rgba(30, 114, 241, 0.938);
}
/*-----first section-----*/

#first-section {
  background-image: url(https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  min-height: 500px;
}

.container {
  position: absolute;
  top: 40%;
  left: 20%;
}
#first-section h2 {
  font-size: 3rem;
  margin: 20px;
  margin-top: 5px;
}
#first-section p {
  font-size: 1rem;
  margin: 20px;
  margin-top: 5px;
}

#first-section a {
  text-decoration: none;
  color: black;
  border: 1px;
  background: lightblue;
  margin: 20px;
  padding: 10px;
}

#first-section a:hover {
  cursor: pointer;
  background: rgba(0, 0, 255, 0.507);
}

/*---second part---*/
#second-section {
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 400px;
}

#second-section div img {
  position: absolute;
  width: 300px;
  height: 250px;
  left: 20%;
  top: 5%;
  z-index: 1;
}

.secondsection_text {
  position: absolute;
  max-width: 100%;
  left: 45%;
  top: 5%;
  width: 35%;
}
.secondsection_text h2 {
  margin-bottom: 1rem;
}

#second-section p {
  font-size: 15px;
  line-height: 1.7rem;
}

.secondsection_nav {
  font-size: 15px;
  line-height: 1.2rem;
  position: absolute;
  left: 5%;
  margin-top: 1rem;
  line-height: 1.5rem;
}

.secondsection_nav li {
  margin-top: 1rem;
}

/*----third part----*/

#third-part {
  padding: 50px;
  width: 100%;
  background: rgb(248, 248, 248);
}

#third-part h2,
#third-part p {
  padding: 10px;
  margin: 10px;
}

#third-part p {
  font-size: 15px;
  line-height: 1.2rem;
}

#third-part i {
  margin: 20px;
}

/*-----fonts box-----*/

.fonts {
  border: 1px solid rgba(255, 255, 255, 0.021);
  border-collapse: separate;
  display: flex;
  padding: 10px;
  margin: 15px;
}

.fonts1 {
  margin-right: 10px;
  background: rgb(255, 254, 254);
  text-align: center;
  padding: 30px;
}
.fonts2 {
  margin-right: 10px;
  background: rgb(255, 254, 254);
  text-align: center;
  padding: 30px;
}

.file {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

#js {
  position: absolute;
  top: 22em;
  left: 1em;
  right: 1em;
}

.filejs {
  justify-content: center;
  font-size: 13px;
  display: flex;
  margin-top: 6.5em;
}

/*----footer----*/

footer {
  background: rgba(0, 0, 0, 0.678);
  color: #fff;
  display: flex;
  padding: 50px;
}

.last-part1 h3,
.last-part1 p {
  padding: 10px;
  font-size: 15px;
  margin-right: 30px;
  padding-right: 20px;
  line-height: 1.5em;
}

.last-part2 h4,
.last-part2 p {
  padding: 10px;
  font-size: 15px;
  margin-right: 30px;
  padding-right: 20px;
  line-height: 1.5em;
}

.contact {
  padding: 10px;
  font-size: 1em;
  margin-right: 30px;
  padding-right: 13rem;
  font-size: 20px;
}

#form {
  width: 15rem;
  height: 5rem;
}

.last-part3 label {
  display: block;
  padding: 25px 0 5px 0;
  font-size: 15px;
}
.last-part3 input {
  margin-bottom: 5px;
  width: 15rem;
  height: 1.7rem;
}
button {
  border: 1px;
  background: rgba(6, 167, 241, 0.562);
  display: flex;
  padding: 10px;
  margin-top: 10px;
  font-size: 1rem;
}

button:hover {
  background: rgba(6, 80, 241, 0.932);
  cursor: pointer;
}

/*----scroll to top----*/
.scroll {
  background: rgba(0, 0, 0, 0.637);
  color: rgba(255, 255, 255, 0.596);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 90px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

/*----mobile responcive-----*/

@media (max-width: 999px) {
  header {
    position: fixed;
    background: rgba(0, 0, 0, 0.801);
    color: #fff;
    display: flex;
    width: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  main #first-part {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10rem;
    width: 100vh;
    height: 100%;
  }

  .container a {
    display: flex;
    width: 45%;
  }

  #second-part {
    display: inline;
  }

  #second-part div img {
    height: 100%;
    width: 100%;
  }

  section #third-part {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
  }

  .fonts1,
  .fonts2,
  .file,
  .filejs {
    padding: 0 40px 0 0;
    width: 30%;
  }

  footer {
    width: 100vh;
  }
}
